services:
  - type: web
    name: ptud-backend
    env: node
    plan: free
    branch: main
    buildCommand: npm install
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: FRONTEND_URL
        value: https://ptud-exercises.onrender.com

  - type: static
    name: ptud-frontend
    env: static
    plan: free
    branch: main
    buildCommand: ""
    publishPath: public
    autoDeploy: true
