-- Generated INSERTs for Exercises
SET NOCOUNT ON;

-- Ensure target table exists: dbo.ptud_Exercises
IF OBJECT_ID('dbo.ptud_Exercises','U') IS NULL
RAISERROR('Target table dbo.ptud_Exercises not found. Run insert_exercises_safe.sql first.',16,1);

-- BĂ i 1: XĂ¡c Ä‘á»‹nh Ä‘á»™ phá»©c táº¡p cá»§a cĂ¢u lá»‡nh gĂ¡n vĂ  Ä‘iá»u kiá»‡n

-- BĂ i 2: VĂ²ng láº·p Ä‘Æ¡n tĂ­nh tá»•ng

-- BĂ i 3: VĂ²ng láº·p vá»›i bÆ°á»›c nháº£y háº±ng sá»‘

-- BĂ i 4: TĂ¬m kiáº¿m tuyáº¿n tĂ­nh (Linear Search)

-- BĂ i 5: VĂ²ng láº·p lá»“ng nhau cÆ¡ báº£n

-- BĂ i 6: VĂ²ng láº·p lá»“ng nhau dáº¡ng tam giĂ¡c

-- BĂ i 7: Thuáº­t toĂ¡n chia Ä‘á»ƒ trá»‹ Ä‘Æ¡n giáº£n (Chia Ä‘Ă´i)

-- BĂ i 8: Äá»™ phá»©c táº¡p cá»§a thuáº­t toĂ¡n sáº¯p xáº¿p cÆ¡ báº£n

-- BĂ i 9: Äá»‡ quy tuyáº¿n tĂ­nh (TĂ­nh Giai thá»«a)

-- BĂ i 10: Äá»‡ quy nhá»‹ phĂ¢n (Fibonacci Ä‘á»‡ quy)

-- BĂ i 11: Thuáº­t toĂ¡n TĂ¬m kiáº¿m nhá»‹ phĂ¢n (Binary Search)

-- BĂ i 12: PhĂ¢n tĂ­ch thuáº­t toĂ¡n Quick Sort (TrÆ°á»ng há»£p xáº¥u nháº¥t)

-- BĂ i 1: Thuáº­t toĂ¡n TĂ¬m kiáº¿m tuyáº¿n tĂ­nh (Linear Search)

-- BĂ i 2: Thuáº­t toĂ¡n Sáº¯p xáº¿p Ä‘á»•i chá»— trá»±c tiáº¿p (Interchange Sort)

-- BĂ i 3: Thuáº­t toĂ¡n Sáº¯p xáº¿p ná»•i bá»t (Bubble Sort)

-- BĂ i 4: Thuáº­t toĂ¡n Sáº¯p xáº¿p chá»n (Selection Sort)

-- BĂ i 5: Thuáº­t toĂ¡n TĂ¬m kiáº¿m nhá»‹ phĂ¢n (Binary Search)

-- BĂ i 6: Thuáº­t toĂ¡n Sáº¯p xáº¿p chĂ¨n (Insertion Sort)

-- BĂ i 7: TĂ¬m kiáº¿m nhá»‹ phĂ¢n báº±ng ká»¹ thuáº­t Äá»‡ quy

-- BĂ i 8: Sáº¯p xáº¿p ná»•i bá»t cáº£i tiáº¿n (Bubble Sort with Flag)

-- BĂ i 9: Thuáº­t toĂ¡n Sáº¯p xáº¿p nhanh (Quick Sort)

-- BĂ i 10: Thuáº­t toĂ¡n Sáº¯p xáº¿p trá»™n (Merge Sort)

-- BĂ i 11: Thuáº­t toĂ¡n Sáº¯p xáº¿p vun Ä‘á»‘ng (Heap Sort)

-- BĂ i 12: TĂ¬m pháº§n tá»­ lá»›n thá»© k (Sá»­ dá»¥ng Partition cá»§a Quick Sort)

-- BĂ i 1: CĂ i Ä‘áº·t Stack lÆ°u trá»¯ sá»‘ nguyĂªn báº±ng máº£ng tÄ©nh

-- BĂ i 2: Quáº£n lĂ½ hĂ ng Ä‘á»£i (Queue) báº±ng máº£ng tÄ©nh

-- BĂ i 3: Äáº£o ngÆ°á»£c chuá»—i kĂ½ tá»± báº±ng Stack

-- BĂ i 4: Kiá»ƒm tra chuá»—i Ä‘á»‘i xá»©ng (Palindrome)

-- BĂ i 5: Kiá»ƒm tra tĂ­nh há»£p lá»‡ cá»§a cĂ¡c dáº¥u ngoáº·c

-- BĂ i 6: CĂ i Ä‘áº·t HĂ ng Ä‘á»£i vĂ²ng (Circular Queue)

-- BĂ i 7: Chuyá»ƒn Ä‘á»•i há»‡ tháº­p phĂ¢n sang há»‡ nhá»‹ phĂ¢n

-- BĂ i 8: CĂ i Ä‘áº·t Stack Ä‘á»™ng báº±ng Danh sĂ¡ch liĂªn káº¿t

-- BĂ i 9: Chuyá»ƒn Ä‘á»•i biá»ƒu thá»©c Trung tá»‘ sang Háº­u tá»‘ (Infix to Postfix)

-- BĂ i 10: TĂ­nh giĂ¡ trá»‹ biá»ƒu thá»©c Háº­u tá»‘

-- BĂ i 11: CĂ i Ä‘áº·t HĂ ng Ä‘á»£i Æ°u tiĂªn (Priority Queue)

-- BĂ i 12: MĂ´ phá»ng HĂ ng Ä‘á»£i báº±ng hai NgÄƒn xáº¿p

-- BĂ i 1: Khá»Ÿi táº¡o vĂ  ThĂªm Node vĂ o cĂ¢y BST

-- BĂ i 2: Duyá»‡t cĂ¢y theo thá»© tá»± giá»¯a (In-order Traversal)

-- BĂ i 3: Duyá»‡t cĂ¢y theo thá»© tá»± trÆ°á»›c vĂ  sau (Pre-order & Post-order)

-- BĂ i 4: TĂ¬m kiáº¿m má»™t giĂ¡ trá»‹ trĂªn cĂ¢y BST

-- BĂ i 5: TĂ¬m giĂ¡ trá»‹ nhá» nháº¥t vĂ  lá»›n nháº¥t trĂªn cĂ¢y

-- BĂ i 6: Äáº¿m sá»‘ lÆ°á»£ng Node vĂ  sá»‘ lÆ°á»£ng lĂ¡ (Leaf Nodes)

-- BĂ i 7: TĂ­nh chiá»u cao cá»§a cĂ¢y nhá»‹ phĂ¢n

-- BĂ i 8: Kiá»ƒm tra má»™t cĂ¢y nhá»‹ phĂ¢n cĂ³ pháº£i lĂ  BST khĂ´ng

-- BĂ i 9: XĂ³a má»™t Node trĂªn cĂ¢y BST

-- BĂ i 10: TĂ¬m Node káº¿ tiáº¿p (In-order Successor)

-- BĂ i 11: Chuyá»ƒn máº£ng Ä‘Ă£ sáº¯p xáº¿p thĂ nh cĂ¢y BST cĂ¢n báº±ng

-- BĂ i 12: TĂ¬m tá»• tiĂªn chung gáº§n nháº¥t (Lowest Common Ancestor - LCA)

-- BĂ i 1: Biá»ƒu diá»…n Ä‘á»“ thá»‹ báº±ng Ma tráº­n ká» (Adjacency Matrix)

-- BĂ i 2: Chuyá»ƒn Ä‘á»•i tá»« Ma tráº­n ká» sang Danh sĂ¡ch cáº¡nh (Edge List)

-- BĂ i 3: TĂ­nh báº­c cá»§a cĂ¡c Ä‘á»‰nh trong Ä‘á»“ thá»‹

-- BĂ i 4: Biá»ƒu diá»…n Ä‘á»“ thá»‹ báº±ng Danh sĂ¡ch ká» (Adjacency List)

-- BĂ i 5: Duyá»‡t Ä‘á»“ thá»‹ theo chiá»u rá»™ng (BFS - Breadth First Search)

-- BĂ i 6: Duyá»‡t Ä‘á»“ thá»‹ theo chiá»u sĂ¢u (DFS - Depth First Search)

-- BĂ i 7: Kiá»ƒm tra tĂ­nh liĂªn thĂ´ng cá»§a Ä‘á»“ thá»‹ vĂ´ hÆ°á»›ng

-- BĂ i 8: TĂ¬m Ä‘Æ°á»ng Ä‘i giá»¯a hai Ä‘á»‰nh báº±ng BFS

-- BĂ i 9: Thuáº­t toĂ¡n Dijkstra tĂ¬m Ä‘Æ°á»ng Ä‘i ngáº¯n nháº¥t

-- BĂ i 10: TĂ¬m cĂ¢y khung nhá» nháº¥t báº±ng thuáº­t toĂ¡n Prim

-- BĂ i 11: PhĂ¡t hiá»‡n chu trĂ¬nh trong Ä‘á»“ thá»‹ (Cycle Detection)

-- BĂ i 12: Sáº¯p xáº¿p cáº¥u trĂºc (Topological Sort)

-- BĂ i 1: Truy xuáº¥t giĂ¡ trá»‹ vĂ  Ä‘á»‹a chá»‰ qua con trá»

-- BĂ i 2: HĂ m hoĂ¡n vá»‹ sá»­ dá»¥ng con trá»

-- BĂ i 3: Nháº­p xuáº¥t máº£ng qua con trá»

-- BĂ i 4: Cáº¥p phĂ¡t Ä‘á»™ng máº£ng 1 chiá»u

-- BĂ i 5: TĂ¬m pháº§n tá»­ lá»›n nháº¥t báº±ng con trá»

-- BĂ i 6: Äáº£o ngÆ°á»£c máº£ng dĂ¹ng hai con trá»

-- BĂ i 7: Quáº£n lĂ½ chuá»—i kĂ½ tá»± (String) báº±ng con trá»

-- BĂ i 8: Cáº¥p phĂ¡t Ä‘á»™ng máº£ng 2 chiá»u (Ma tráº­n)

-- BĂ i 9: Máº£ng con trá» quáº£n lĂ½ danh sĂ¡ch chuá»—i

-- BĂ i 10: Con trá» hĂ m (Function Pointer)

-- BĂ i 1: TĂ­nh giai thá»«a cá»§a n (n!)

-- BĂ i 2: TĂ­nh tá»•ng dĂ£y sá»‘ S = 1 + 2 + ... + n

-- BĂ i 3: TĂ¬m sá»‘ Fibonacci thá»© n

-- BĂ i 4: Chuyá»ƒn Ä‘á»•i há»‡ cÆ¡ sá»‘ (Tháº­p phĂ¢n sang Nhá»‹ phĂ¢n)

-- BĂ i 5: TĂ¬m Æ¯á»›c chung lá»›n nháº¥t (UCLN)

-- BĂ i 6: Äáº¿m sá»‘ chá»¯ sá»‘ cá»§a sá»‘ nguyĂªn dÆ°Æ¡ng n

-- BĂ i 7: TĂ¬m giĂ¡ trá»‹ lá»›n nháº¥t (Max) trong máº£ng báº±ng Ä‘á»‡ quy

-- BĂ i 8: BĂ i toĂ¡n ThĂ¡p HĂ  Ná»™i (Tower of Hanoi)

-- BĂ i 9: BĂ i toĂ¡n n-Háº­u (n-Queens Puzzle)

-- BĂ i 10: TĂ­nh giĂ¡ trá»‹ Ä‘a thá»©c (CĂ´ng thá»©c Horner) báº±ng Ä‘á»‡ quy

-- BĂ i 1: Äá»‹nh nghÄ©a Struct PhĂ¢n sá»‘

-- BĂ i 2: TĂ­nh khoáº£ng cĂ¡ch giá»¯a hai Ä‘iá»ƒm (2D)

-- BĂ i 3: Quáº£n lĂ½ má»™t quyá»ƒn sĂ¡ch

-- BĂ i 4: Máº£ng cĂ¡c PhĂ¢n sá»‘

-- BĂ i 5: Quáº£n lĂ½ danh sĂ¡ch Sinh viĂªn (CÆ¡ báº£n)

-- BĂ i 6: Sáº¯p xáº¿p danh sĂ¡ch sáº£n pháº©m

-- BĂ i 7: TĂ¬m kiáº¿m thĂ´ng tin nhĂ¢n viĂªn

-- BĂ i 8: Quáº£n lĂ½ HĂ¬nh chá»¯ nháº­t (Struct lá»“ng Struct)

-- BĂ i 9: Quáº£n lĂ½ ÄÆ¡n thá»©c vĂ  Äa thá»©c

-- BĂ i 10: Tá»•ng há»£p: Quáº£n lĂ½ danh sĂ¡ch Há»c sinh (NĂ¢ng cao)

-- BĂ i 1: Ghi vÄƒn báº£n Ä‘Æ¡n giáº£n vĂ o File

-- BĂ i 2: Äá»c dá»¯ liá»‡u tá»« File vĂ  in ra mĂ n hĂ¬nh

-- BĂ i 3: Sao chĂ©p ná»™i dung File

-- BĂ i 4: Äá»c máº£ng sá»‘ nguyĂªn tá»« File

-- BĂ i 5: Ghi báº£ng cá»­u chÆ°Æ¡ng vĂ o File

-- BĂ i 6: Thá»‘ng kĂª kĂ½ tá»± trong File

-- BĂ i 7: Ghi vĂ  Ä‘á»c Struct vĂ o File vÄƒn báº£n

-- BĂ i 8: Thao tĂ¡c vá»›i File nhá»‹ phĂ¢n (Binary File)

-- BĂ i 9: Sáº¯p xáº¿p dá»¯ liá»‡u trong File

-- BĂ i 10: Quáº£n lĂ½ cÆ¡ sá»Ÿ dá»¯ liá»‡u nhĂ¢n viĂªn (File tá»•ng há»£p)

-- BĂ i 1: Khá»Ÿi táº¡o vĂ  Duyá»‡t danh sĂ¡ch liĂªn káº¿t

-- BĂ i 2: ThĂªm Node vĂ o Ä‘áº§u danh sĂ¡ch (AddHead)

-- BĂ i 3: Äáº¿m sá»‘ lÆ°á»£ng pháº§n tá»­

-- BĂ i 4: ThĂªm Node vĂ o cuá»‘i danh sĂ¡ch (AddTail)

-- BĂ i 5: TĂ¬m kiáº¿m giĂ¡ trá»‹ x trong danh sĂ¡ch

-- BĂ i 6: TĂ­nh tá»•ng cĂ¡c sá»‘ nguyĂªn tá»‘ trong danh sĂ¡ch

-- BĂ i 7: XĂ³a Node Ä‘áº§u tiĂªn trong danh sĂ¡ch (RemoveHead)

-- BĂ i 8: Sáº¯p xáº¿p danh sĂ¡ch liĂªn káº¿t Ä‘Æ¡n

-- BĂ i 9: XĂ³a má»™t Node cĂ³ giĂ¡ trá»‹ x báº¥t ká»³

-- BĂ i 10: Äáº£o ngÆ°á»£c danh sĂ¡ch liĂªn káº¿t Ä‘Æ¡n (Reverse List)

-- BĂ i 1: XĂ¢y dá»±ng lá»›p PhĂ¢n sá»‘ cÆ¡ báº£n

-- BĂ i 2: Quáº£n lĂ½ tá»a Ä‘á»™ Äiá»ƒm trong khĂ´ng gian 2D

-- BĂ i 3: Lá»›p HĂ¬nh chá»¯ nháº­t vĂ  tĂ­nh toĂ¡n diá»‡n tĂ­ch

-- BĂ i 4: MĂ´ phá»ng tĂ i khoáº£n ngĂ¢n hĂ ng Ä‘Æ¡n giáº£n

-- BĂ i 5: Quáº£n lĂ½ thĂ´ng tin Sinh viĂªn vĂ  xáº¿p loáº¡i

-- BĂ i 6: Lá»›p quáº£n lĂ½ Sáº£n pháº©m vĂ  thuáº¿ VAT

-- BĂ i 7: Lá»›p Thá»i gian (Giá» - PhĂºt - GiĂ¢y)

-- BĂ i 8: Quáº£n lĂ½ NgĂ y thĂ¡ng nÄƒm vĂ  nÄƒm nhuáº­n

-- BĂ i 9: Lá»›p Äa thá»©c vĂ  quáº£n lĂ½ máº£ng Ä‘á»™ng

-- BĂ i 10: Quáº£n lĂ½ Danh sĂ¡ch Ä‘á»‘i tÆ°á»£ng (Lá»›p bao)

-- BĂ i 11: Lá»›p Chuá»—i kĂ½ tá»± tá»± Ä‘á»‹nh nghÄ©a (MyString)

-- BĂ i 12: Há»‡ thá»‘ng quáº£n lĂ½ nhĂ¢n sá»± vá»›i mĂ£ hĂ³a báº£o máº­t

-- BĂ i 1: Náº¡p chá»“ng toĂ¡n tá»­ Nháº­p/Xuáº¥t cho lá»›p PhĂ¢n sá»‘

-- BĂ i 2: So sĂ¡nh hai tá»a Ä‘á»™ Äiá»ƒm 2D

-- BĂ i 3: PhĂ©p cá»™ng hai PhĂ¢n sá»‘

-- BĂ i 4: Cá»™ng má»™t sá»‘ nguyĂªn vĂ o PhĂ¢n sá»‘

-- BĂ i 5: TÄƒng/Giáº£m thá»i gian (ToĂ¡n tá»­ ++ vĂ  --)

-- BĂ i 6: Truy cáº­p pháº§n tá»­ máº£ng báº±ng toĂ¡n tá»­ chá»‰ sá»‘ [ ]

-- BĂ i 7: PhĂ©p toĂ¡n trĂªn Sá»‘ phá»©c (Complex Number)

-- BĂ i 8: So sĂ¡nh thá»© háº¡ng Sinh viĂªn (ToĂ¡n tá»­ > vĂ  <)

-- BĂ i 9: Quáº£n lĂ½ bá»™ nhá»› vá»›i toĂ¡n tá»­ gĂ¡n (Operator =)

-- BĂ i 10: ToĂ¡n tá»­ gá»i hĂ m (ToĂ¡n tá»­ ( )) Ä‘á»ƒ tĂ­nh giĂ¡ trá»‹ Äa thá»©c

-- BĂ i 11: Cá»™ng vĂ  NhĂ¢n hai Ma tráº­n

-- BĂ i 12: Chuyá»ƒn Ä‘á»•i kiá»ƒu dá»¯ liá»‡u (Conversion Operator)

-- BĂ i 1: Káº¿ thá»«a cÆ¡ báº£n tá»« lá»›p NgÆ°á»i sang Sinh viĂªn

-- BĂ i 2: Káº¿ thá»«a lá»›p HĂ¬nh há»c cho HĂ¬nh chá»¯ nháº­t

-- BĂ i 3: Quáº£n lĂ½ NhĂ¢n viĂªn vĂ  Quáº£n lĂ½ (Manager)

-- BĂ i 4: Sá»­ dá»¥ng tá»« khĂ³a Protected trong káº¿ thá»«a

-- BĂ i 5: Káº¿ thá»«a Ä‘a má»©c (Multilevel Inheritance)

-- BĂ i 6: Há»‡ thá»‘ng quáº£n lĂ½ cĂ¡c loáº¡i CĂ¡n bá»™

-- BĂ i 7: Quáº£n lĂ½ PhÆ°Æ¡ng tiá»‡n giao thĂ´ng

-- BĂ i 8: Ghi Ä‘Ă¨ phÆ°Æ¡ng thá»©c (Method Overriding) trong káº¿ thá»«a

-- BĂ i 9: Äa káº¿ thá»«a vĂ  Váº¥n Ä‘á» kim cÆ°Æ¡ng (Diamond Problem)

-- BĂ i 10: Quáº£n lĂ½ TĂ i khoáº£n ngĂ¢n hĂ ng Ä‘a dáº¡ng

-- BĂ i 11: Káº¿ thá»«a vĂ  Quáº£n lĂ½ bá»™ nhá»› Ä‘á»™ng

-- BĂ i 12: Há»‡ thá»‘ng quáº£n lĂ½ Sá»Ÿ thĂº (Zoo Management)

-- BĂ i 1: Sá»­ dá»¥ng hĂ m áº£o (Virtual Function) cÆ¡ báº£n

-- BĂ i 2: Táº¡o lá»›p trá»«u tÆ°á»£ng HĂ¬nh há»c Ä‘Æ¡n giáº£n

-- BĂ i 3: Quáº£n lĂ½ danh sĂ¡ch Ä‘á»‘i tÆ°á»£ng Ä‘a hĂ¬nh

-- BĂ i 4: Lá»›p trá»«u tÆ°á»£ng vĂ  PhÆ°Æ¡ng thá»©c thuáº§n áº£o

-- BĂ i 5: Quáº£n lĂ½ nhĂ¢n viĂªn báº±ng ká»¹ thuáº­t Ä‘a hĂ¬nh

-- BĂ i 6: TĂ­nh tá»•ng diá»‡n tĂ­ch cĂ¡c hĂ¬nh há»—n há»£p

-- BĂ i 7: Sá»­ dá»¥ng HĂ m há»§y áº£o (Virtual Destructor)

-- BĂ i 8: LiĂªn káº¿t tÄ©nh vĂ  LiĂªn káº¿t Ä‘á»™ng

-- BĂ i 9: Thiáº¿t káº¿ giao diá»‡n (Interface) cho há»‡ thá»‘ng thanh toĂ¡n

-- BĂ i 10: MĂ´ phá»ng trĂ² chÆ¡i chiáº¿n thuáº­t vá»›i Äa hĂ¬nh

-- BĂ i 11: Há»‡ thá»‘ng quáº£n lĂ½ lÆ°Æ¡ng thÆ°á»Ÿng phá»©c táº¡p

-- BĂ i 12: Ăp dá»¥ng Äa hĂ¬nh vĂ o quáº£n lĂ½ cá»­a hĂ ng Ä‘iá»‡n tá»­

-- BĂ i 1: Template hĂ m tĂ¬m giĂ¡ trá»‹ lá»›n nháº¥t

-- BĂ i 2: Template hĂ m hoĂ¡n vá»‹ (Swap) hai giĂ¡ trá»‹

-- BĂ i 3: Kiá»ƒm soĂ¡t lá»—i chia cho 0 (Exception Handling)

-- BĂ i 4: Báº¯t ngoáº¡i lá»‡ nháº­p dá»¯ liá»‡u hĂ¬nh há»c

-- BĂ i 5: XĂ¢y dá»±ng lá»›p NgÄƒn xáº¿p tá»•ng quĂ¡t (Template Stack)

-- BĂ i 6: Lá»›p Máº£ng Ä‘á»™ng tá»•ng quĂ¡t (Template Array)

-- BĂ i 7: Template hĂ m sáº¯p xáº¿p máº£ng (Generic Sort)

-- BĂ i 8: Báº¯t nhiá»u loáº¡i ngoáº¡i lá»‡ (Multiple Catch Blocks)

-- BĂ i 9: Lá»›p Ma tráº­n tá»•ng quĂ¡t (Template Matrix)

-- BĂ i 10: XĂ¢y dá»±ng lá»›p ngoáº¡i lá»‡ tá»± Ä‘á»‹nh nghÄ©a (Custom Exception)

-- BĂ i 11: Danh sĂ¡ch liĂªn káº¿t Ä‘Æ¡n tá»•ng quĂ¡t

-- BĂ i 12: Há»‡ thá»‘ng quáº£n lĂ½ giá» hĂ ng káº¿t há»£p Template vĂ  Exception

-- BĂ i 1: Kiá»ƒm tra tĂ­nh cháºµn láº» vĂ  Ă¢m dÆ°Æ¡ng

-- BĂ i 2: TĂ¬m sá»‘ lá»›n nháº¥t (Max) trong 3 sá»‘

-- BĂ i 3: Kiá»ƒm tra kĂ½ tá»± nguyĂªn Ă¢m/phá»¥ Ă¢m

-- BĂ i 4: TĂ­nh tiá»n Ä‘iá»‡n sinh hoáº¡t

-- BĂ i 5: Giáº£i phÆ°Æ¡ng trĂ¬nh báº­c hai ax^2 + bx + c = 0

-- BĂ i 6: TĂ­nh ngĂ y trong thĂ¡ng

-- BĂ i 7: Kiá»ƒm tra tĂ­nh há»£p lá»‡ cá»§a ngĂ y thĂ¡ng nÄƒm

-- BĂ i 8: Äá»c sá»‘ nguyĂªn cĂ³ 2 chá»¯ sá»‘

-- BĂ i 9: TĂ¬m ngĂ y káº¿ tiáº¿p (Next Day)

-- BĂ i 10: XĂ¢y dá»±ng mĂ¡y tĂ­nh bá» tĂºi Ä‘Æ¡n giáº£n (Calculator)

-- BĂ i 1: In dĂ£y sá»‘ vĂ  tĂ­nh tá»•ng cÆ¡ báº£n

-- BĂ i 2: Báº£ng cá»­u chÆ°Æ¡ng

-- BĂ i 3: Liá»‡t kĂª sá»‘ cháºµn/láº»

-- BĂ i 4: TĂ­nh tá»•ng chuá»—i phĂ¢n sá»‘

-- BĂ i 5: PhĂ¢n tĂ­ch má»™t sá»‘ ra thá»«a sá»‘ nguyĂªn tá»‘

-- BĂ i 6: TĂ¬m Æ°á»›c chung lá»›n nháº¥t (UCLN) vĂ  Bá»™i chung nhá» nháº¥t (BCNN)

-- BĂ i 7: Kiá»ƒm tra sá»‘ hoĂ n thiá»‡n (Perfect Number)

-- BĂ i 8: Kiá»ƒm tra sá»‘ nguyĂªn tá»‘ (Tá»‘i Æ°u)

-- BĂ i 9: Thao tĂ¡c vá»›i chá»¯ sá»‘ cá»§a má»™t sá»‘ nguyĂªn

-- BĂ i 10: In hĂ¬nh sao (VĂ²ng láº·p lá»“ng nhau - Nested Loops)

-- BĂ i 1: HĂ m tĂ­nh giĂ¡ trá»‹ tuyá»‡t Ä‘á»‘i vĂ  lÅ©y thá»«a

-- BĂ i 2: HĂ m kiá»ƒm tra tĂ­nh cháº¥t sá»‘ (Boolean Function)

-- BĂ i 3: HĂ m tĂ¬m sá»‘ lá»›n nháº¥t (Max)

-- BĂ i 4: HoĂ¡n vá»‹ hai sá»‘ (Tham biáº¿n vĂ  Tham trá»‹)

-- BĂ i 5: HĂ m kiá»ƒm tra sá»‘ nguyĂªn tá»‘ vĂ  sá»‘ hoĂ n thiá»‡n

-- BĂ i 6: TĂ­nh tá»•ng cĂ¡c chá»¯ sá»‘ báº±ng hĂ m

-- BĂ i 7: RĂºt gá»n phĂ¢n sá»‘ báº±ng hĂ m

-- BĂ i 8: HĂ m Ä‘á»‡ quy cÆ¡ báº£n (Recursion)

-- BĂ i 9: Giáº£i há»‡ phÆ°Æ¡ng trĂ¬nh báº­c nháº¥t báº±ng hĂ m

-- BĂ i 10: XĂ¢y dá»±ng thÆ° viá»‡n tĂ­nh toĂ¡n hĂ¬nh há»c

-- BĂ i 1: Nháº­p xuáº¥t máº£ng cÆ¡ báº£n

-- BĂ i 2: TĂ­nh tá»•ng vĂ  trung bĂ¬nh cá»™ng

-- BĂ i 3: TĂ¬m Max/Min Ä‘Æ¡n giáº£n

-- BĂ i 4: Liá»‡t kĂª pháº§n tá»­ thá»a Ä‘iá»u kiá»‡n

-- BĂ i 5: TĂ¬m kiáº¿m vá»‹ trĂ­

-- BĂ i 6: Sáº¯p xáº¿p máº£ng cÆ¡ báº£n

-- BĂ i 7: ThĂªm pháº§n tá»­ vĂ o máº£ng

-- BĂ i 8: XĂ³a pháº§n tá»­ thá»a Ä‘iá»u kiá»‡n

-- BĂ i 9: Äáº¿m sá»‘ láº§n xuáº¥t hiá»‡n (Táº§n suáº¥t)

-- BĂ i 10: Kiá»ƒm tra máº£ng Ä‘á»‘i xá»©ng/Máº£ng con

-- SQLQuery1
INSERT INTO dbo.ptud_Exercises(ExerciseCode, SubjectID, TypeID, LevelID, Title, Requirements, Description, GradingCriteria, SourceFile)
VALUES (N'SQLQuery1-211', (SELECT SubjectID FROM dbo.ptud_Subjects WHERE SubjectCode=N'SQLQuery1'), NULL, NULL, N'SQLQuery1', N'', N'ï»¿-- 1. Báº£ng MĂ´n há»c
CREATE TABLE Subjects (
    SubjectID INT PRIMARY KEY IDENTITY(1,1),
    SubjectName NVARCHAR(100) NOT NULL
);

-- 2. Báº£ng Má»©c Ä‘á»™ khĂ³
CREATE TABLE DifficultyLevels (
    LevelID INT PRIMARY KEY IDENTITY(1,1),
    LevelName NVARCHAR(50) NOT NULL
);

-- 3. Báº£ng Dáº¡ng bĂ i táº­p (LiĂªn káº¿t vá»›i MĂ´n há»c)
CREATE TABLE ExerciseTypes (
    TypeID INT PRIMARY KEY IDENTITY(1,1),
    TypeName NVARCHAR(200) NOT NULL,
    SubjectID INT FOREIGN KEY REFERENCES Subjects(SubjectID)
);

-- 4. Báº£ng BĂ i táº­p chi tiáº¿t (LiĂªn káº¿t vá»›i Dáº¡ng bĂ i vĂ  Má»©c Ä‘á»™)
CREATE TABLE Exercises (
    ExerciseID INT PRIMARY KEY IDENTITY(1,1),
    Title NVARCHAR(255) NOT NULL,
    Description NVARCHAR(MAX),
    Requirements NVARCHAR(MAX),
    GradingCriteria NVARCHAR(MAX),
    TypeID INT FOREIGN KEY REFERENCES ExerciseTypes(TypeID),
    LevelID INT FOREIGN KEY REFERENCES DifficultyLevels(LevelID),
    SubjectID INT FOREIGN KEY REFERENCES Subjects(SubjectID)
);', N'', N'SQLQuery1');

