-- Updates LevelID from parsed difficulty
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'CTDL_GT-001';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'CTDL_GT-002';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'CTDL_GT-003';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'CTDL_GT-004';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'CTDL_GT-005';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'CTDL_GT-006';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'CTDL_GT-007';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'CTDL_GT-008';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'CTDL_GT-009';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'CTDL_GT-010';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'CTDL_GT-011';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'CTDL_GT-012';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'KTLT-001';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'KTLT-002';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'KTLT-003';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'KTLT-004';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'KTLT-005';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'KTLT-006';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'KTLT-007';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'KTLT-008';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'KTLT-009';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'KTLT-010';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'KTLT-011';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'KTLT-012';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'KTLT-013';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'KTLT-014';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'KTLT-015';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'KTLT-016';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'KTLT-017';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'KTLT-018';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'KTLT-019';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'KTLT-020';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'KTLT-021';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'KTLT-022';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'KTLT-023';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'KTLT-024';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'KTLT-025';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'KTLT-026';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'KTLT-027';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'KTLT-028';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'KTLT-029';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'KTLT-030';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'KTLT-031';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'KTLT-032';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'KTLT-033';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'KTLT-034';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'KTLT-035';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'KTLT-036';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'KTLT-037';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'KTLT-038';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'KTLT-039';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'KTLT-040';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'KTLT-041';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'KTLT-042';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'KTLT-043';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'KTLT-044';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'KTLT-045';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'KTLT-046';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'KTLT-047';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'KTLT-048';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'KTLT-049';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'KTLT-050';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'NMTL-001';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'NMTL-002';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'NMTL-003';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'NMTL-004';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'NMTL-005';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'NMTL-006';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'NMTL-007';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'NMTL-008';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'NMTL-009';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'NMTL-010';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'NMTL-011';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'NMTL-012';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'NMTL-013';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'NMTL-014';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'NMTL-015';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'NMTL-016';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'NMTL-017';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'NMTL-018';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'NMTL-019';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'NMTL-020';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'NMTL-021';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'NMTL-022';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'NMTL-023';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'NMTL-024';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'NMTL-025';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'NMTL-026';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'NMTL-027';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'NMTL-028';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'NMTL-029';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'NMTL-030';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'NMTL-031';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'NMTL-032';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Dễ') WHERE ExerciseCode = N'NMTL-033';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'NMTL-034';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'NMTL-035';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'NMTL-036';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Trung bình') WHERE ExerciseCode = N'NMTL-037';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'NMTL-038';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'NMTL-039';
UPDATE dbo.ptud_Exercises SET LevelID = (SELECT LevelID FROM dbo.ptud_DifficultyLevels WHERE LevelName=N'Khó') WHERE ExerciseCode = N'NMTL-040';
