-- Updates LevelID by numeric id using section headings as fallback (1=Dễ,2=Trung bình,3=Khó)
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'CTDL_GT-001';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'CTDL_GT-002';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'CTDL_GT-003';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'CTDL_GT-004';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'CTDL_GT-005';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'CTDL_GT-006';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'CTDL_GT-007';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'CTDL_GT-008';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'CTDL_GT-009';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'CTDL_GT-010';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'CTDL_GT-011';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'CTDL_GT-012';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'CTDL_GT-013';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'CTDL_GT-014';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'CTDL_GT-015';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'CTDL_GT-016';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'CTDL_GT-017';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'CTDL_GT-018';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'CTDL_GT-019';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'CTDL_GT-020';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'CTDL_GT-021';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'CTDL_GT-022';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'CTDL_GT-023';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'CTDL_GT-024';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'CTDL_GT-025';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'CTDL_GT-026';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'CTDL_GT-027';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'CTDL_GT-028';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'CTDL_GT-029';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'CTDL_GT-030';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'CTDL_GT-031';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'CTDL_GT-032';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'CTDL_GT-033';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'CTDL_GT-034';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'CTDL_GT-035';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'CTDL_GT-036';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'CTDL_GT-037';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'CTDL_GT-038';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'CTDL_GT-039';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'CTDL_GT-040';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'CTDL_GT-041';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'CTDL_GT-042';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'CTDL_GT-043';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'CTDL_GT-044';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'CTDL_GT-045';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'CTDL_GT-046';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'CTDL_GT-047';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'CTDL_GT-048';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'CTDL_GT-049';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'CTDL_GT-050';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'CTDL_GT-051';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'CTDL_GT-052';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'CTDL_GT-053';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'CTDL_GT-054';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'CTDL_GT-055';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'CTDL_GT-056';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'CTDL_GT-057';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'CTDL_GT-058';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'CTDL_GT-059';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'CTDL_GT-060';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'KTLT-001';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'KTLT-002';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'KTLT-003';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'KTLT-004';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'KTLT-005';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'KTLT-006';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'KTLT-007';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'KTLT-008';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'KTLT-009';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'KTLT-010';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'KTLT-011';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'KTLT-012';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'KTLT-013';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'KTLT-014';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'KTLT-015';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'KTLT-016';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'KTLT-017';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'KTLT-018';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'KTLT-019';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'KTLT-020';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'KTLT-021';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'KTLT-022';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'KTLT-023';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'KTLT-024';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'KTLT-025';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'KTLT-026';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'KTLT-027';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'KTLT-028';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'KTLT-029';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'KTLT-030';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'KTLT-031';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'KTLT-032';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'KTLT-033';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'KTLT-034';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'KTLT-035';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'KTLT-036';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'KTLT-037';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'KTLT-038';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'KTLT-039';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'KTLT-040';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'KTLT-041';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'KTLT-042';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'KTLT-043';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'KTLT-044';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'KTLT-045';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'KTLT-046';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'KTLT-047';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'KTLT-048';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'KTLT-049';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'KTLT-050';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'LTHDT-001';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'LTHDT-002';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'LTHDT-003';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'LTHDT-004';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'LTHDT-005';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'LTHDT-006';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'LTHDT-007';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'LTHDT-008';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'LTHDT-009';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'LTHDT-010';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'LTHDT-011';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'LTHDT-012';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'LTHDT-013';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'LTHDT-014';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'LTHDT-015';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'LTHDT-016';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'LTHDT-017';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'LTHDT-018';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'LTHDT-019';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'LTHDT-020';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'LTHDT-021';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'LTHDT-022';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'LTHDT-023';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'LTHDT-024';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'LTHDT-025';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'LTHDT-026';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'LTHDT-027';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'LTHDT-028';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'LTHDT-029';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'LTHDT-030';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'LTHDT-031';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'LTHDT-032';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'LTHDT-033';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'LTHDT-034';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'LTHDT-035';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'LTHDT-036';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'LTHDT-037';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'LTHDT-038';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'LTHDT-039';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'LTHDT-040';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'LTHDT-041';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'LTHDT-042';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'LTHDT-043';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'LTHDT-044';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'LTHDT-045';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'LTHDT-046';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'LTHDT-047';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'LTHDT-048';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'LTHDT-049';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'LTHDT-050';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'LTHDT-051';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'LTHDT-052';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'LTHDT-053';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'LTHDT-054';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'LTHDT-055';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'LTHDT-056';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'LTHDT-057';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'LTHDT-058';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'LTHDT-059';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'LTHDT-060';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'NMTL-001';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'NMTL-002';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'NMTL-003';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'NMTL-004';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'NMTL-005';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'NMTL-006';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'NMTL-007';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'NMTL-008';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'NMTL-009';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'NMTL-010';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'NMTL-011';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'NMTL-012';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'NMTL-013';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'NMTL-014';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'NMTL-015';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'NMTL-016';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'NMTL-017';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'NMTL-018';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'NMTL-019';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'NMTL-020';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'NMTL-021';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'NMTL-022';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'NMTL-023';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'NMTL-024';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'NMTL-025';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'NMTL-026';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'NMTL-027';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'NMTL-028';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'NMTL-029';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'NMTL-030';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'NMTL-031';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'NMTL-032';
UPDATE dbo.ptud_Exercises SET LevelID = 1 WHERE ExerciseCode = N'NMTL-033';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'NMTL-034';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'NMTL-035';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'NMTL-036';
UPDATE dbo.ptud_Exercises SET LevelID = 2 WHERE ExerciseCode = N'NMTL-037';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'NMTL-038';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'NMTL-039';
UPDATE dbo.ptud_Exercises SET LevelID = 3 WHERE ExerciseCode = N'NMTL-040';
